*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap");

:root {
  /* Light Mode Elements */
  --element: hsl(0, 0%, 100%);
  /* Light Mode Elements */
  --highlight: hsl(0, 0%, 95%);
  /* Light Mode Background */
  --background: hsl(0, 0%, 90%);
  /* Light Mode Text */
  --text: hsl(200, 15%, 8%);
  /* Light Mode Text */
  --text2: hsl(200, 15%, 12%);
  /* Light Mode Input */
  --input: hsl(0, 0%, 100%);
  /* Light Mode Shadow */
  --shadow: hsl(0, 0%, 60%);
}
/* dark theme */
[dataTheme="dark"] {
  /* Dark Mode Elements */
  --element: hsl(209, 23%, 22%);
  /* Dark Mode Elements */
  --highlight: hsl(209, 23%, 27%);
  /* Dark Mode Background */
  --background: hsl(207, 26%, 17%);
  /* Dark Mode Text */
  --text: hsl(0, 0%, 90%);
  /* Dark Mode Text */
  --text2: hsl(0, 0%, 70%);
  /* Dark Mode Input */
  --input: hsl(209, 23%, 22%);
  /* Dark Mode Shadow */
  --shadow: hsl(0, 0%, 10%);
}

body {
  background-color: var(--background);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}

header {
  background-color: var(--element);
  color: var(--text);
  display: flex;
  align-items: center;

  padding: 2em 1em;
}

header h1 {
  font-size: 1.25em;
  font-weight: 600;

  margin-right: auto;
}

.color-theme {
  cursor: pointer;
  display: flex;
  gap: 0.35em;
  font-size: 0.9em;
  font-weight: 300;
  user-select: none;
}
.color-theme .moon {
  fill: none;
  stroke: var(--text);
  stroke-width: 20px;
  width: 1.2em;
  height: 1.2em;
}

.color-theme .solid {
  fill: var(--text);
}

.debug {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.debug button {
  background-color: var(--element);
  color: var(--text);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  box-shadow: 0px 0px 3px var(--shadow);
}

.debug button:hover {
  background-color: var(--shadow);
  color: var(--text);
  border: none;
}

.container {
  padding: 1.5em 2em;

  max-width: 1800px;
  margin: 0 auto;
}

.country-detail {
  background-color: var(--background);
  color: var(--text);
  padding-bottom: 5rem;
}

.country-detail .back-btn {
  display: flex;
  gap: 0.5em;

  margin: 1em 0;
  align-items: center;
}

.country-detail .arrow {
  fill: none;
  stroke: var(--text);
  stroke-width: 30px;
  width: 1.5em;
  height: 1.5em;
}

.country-detail img {
  width: 100%;
  padding: 2rem 0 1rem;
}

.country-detail h2 {
  font-size: 1.4rem;
  font-weight: 800;
  padding: 1rem 0;
}

.country-detail p {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 0;
}

.country-detail p span {
  font-size: 1rem;
  font-weight: 300;
  color: var(--text2);
}

.country-detail h3 {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem 0;
}

.country-detail .link-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 1em 0;
}

.country-detail button {
  background-color: var(--element);
  border: none;
  outline: none;
  padding: 0.5em 1em;
  box-shadow: 0px 0px 3px var(--shadow);
}

.country-detail button:hover {
  background-color: var(--highlight);
  cursor: pointer;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;

  position: relative;
}

.magnifying-glass {
  position: absolute;
  left: 1.75em;
  top: 14px;
  width: 20px;
  height: 20px;
  fill: none;
  stroke: var(--text);
  stroke-width: 30px;

  cursor: text;
}

.country-input {
  background-color: var(--input);
  color: var(--text);

  border: none;
  outline: none;

  min-width: 420px;
  flex-grow: 5;
  padding: 0.75em;
  padding-left: 4em;
  font-size: 1.1em;
}

.sort-select,
.regions-select,
.population-select {
  background-color: var(--input);
  color: var(--text);

  border: none;
  outline: none;

  flex-grow: 1;
  font-size: 1em;
  padding: 1em 1.5em;

  cursor: pointer;
}

.countries {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-around;
}

.country {
  width: 320px;

  background-color: var(--input);
  color: var(--text);

  border-radius: 7px;
}

.country:hover {
  background-color: var(--highlight);
  cursor: pointer;
}

.country img {
  border-radius: 7px 7px 0 0;
}

.country .infos {
  padding: 2em;
}

.country .infos h2 {
  font-weight: 600;
  font-size: 1.2em;
  padding: 0.25em 0 1.5em;
}

.country .infos p {
  font-weight: 600;
  font-size: 1em;
  padding: 0.25em 0;
}

.country .infos p span {
  font-weight: 300;
  font-size: 1em;
  padding: 0.25em 0;
  color: var(--text2);
}

.hidden {
  display: none;
}
